# Part 2. Creating Toronto Dataframe with Geographic Coordinates

Now that we have built a dataframe of the postal code of each neighborhood along with the borough name and neighborhood name, in order to utilize the Foursquare location data, we need to get the latitude and the longitude coordinates of each neighborhood.

Use the Geocoder package or the csv file to create the following dataframe:


![alt text](https://d3c33hcgiwev3.cloudfront.net/imageAssetProxy.v1/HZ3jNHNOEeiMwApe4i-fLg_f44f0f10ccfaf42fcbdba9813364e173_Screen-Shot-2018-06-18-at-7.18.16-PM.png?expiry=1573171200000&hmac=2iIUYIRmN0YOyohMC7895YGI3k_Lgz4WWAnBiwsRdIA)

In [ ]:
# get_ipython().system(u' pip install beautifulsoup4')
# get_ipython().system(u' pip install wikipedia')
# get_ipython().system(u' pip install lxml')

In [1]:
import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analysis

import requests # library to handle requests
import io

## Importing Toronto Postal Code Data Frame

In [2]:
Task1_data_csv = "Toronto.Part_1_df.csv"
TorontoPostalCodes = pd.read_csv(Task1_data_csv).set_index("Postcode")
TorontoPostalCodes.rename_axis("Postal Code", axis = 'index', inplace = True)
TorontoPostalCodes.head()

                 Borough                           Neighbourhood
Postal Code
M1B          Scarborough                          Rouge, Malvern
M1C          Scarborough  Highland Creek, Rouge Hill, Port Union
M1E          Scarborough       Guildwood, Morningside, West Hill
M1G          Scarborough                                  Woburn
M1H          Scarborough                               Cedarbrae

## Getting the Geographic Coordinates of Toronto Neighbourhood for Utililizing Foursquare Location Data

In [11]:
url = "http://cocl.us/Geospatial_data"
s = requests.get(url).content
TorontoCoordinates = pd.read_csv(io.StringIO(s.decode('utf-8')))
TorontoCoordinates.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

## Joining Toronto Postal Code and Toronto Geographic Coordinates Dataframe

In [15]:
Toronto_Neighbourhoods = pd.merge(TorontoPostalCodes, TorontoCoordinates, on='Postal Code')
Toronto_Neighbourhoods.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [18]:
Toronto_Neighbourhoods.shape

(103, 5)

## Exporting Newly Created Dataframe to CSV File

In [19]:
Toronto_Neighbourhoods.to_csv('Toronto_Neighbourhoods.csv', index= False)